*{
    margin:0;
    padding:0;
}

/* CSS_General*/

html { /*Configuracion de html para que 1REM=10px*/
    font-size: 62.5%;
    box-sizing: border-box; /* Hack para box model */
    }


body { /*Padre de todos*/
        font-size: 2 rem; 
        background-color: white;
        color: black;
        font-family: 'Public Sans', sans-serif;
    }
/* ---------------------Menu de navegacion---------------------------- */
    
nav{
        justify-content: space-between;
        font-weight: bold;
    }
.header  ul li {
        display: inline-block;
        position: relative;
        
    }
    
.header  li a {
        display: block;
        text-decoration: none;
        font-size: 2.8rem;
        line-height: 3rem;
        color:black;
        background-color: #deafa7;
        font-weight: bolder;
        padding: 2.6rem  1.6rem;

    } 
    
.imagen1{
        width:76%;
        height:85%;
        border:solid 0.1rem;
        text-align:left;
        margin-left: 16%;
        margin-top: 4%;
    }
/* ---------------Tipografias---------------------------------- */
h1{
    color:black;
    font-family: 'Finger Paint', cursive;
    font-size: 2.8rem;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top:6% ;
    margin-bottom: 5%;
    
}

h2{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 6rem;
    margin-top: 20%;
    margin-bottom: 10%;
}

h3{
    font-family:'Gloria Hallelujah', cursive;
    font-size:2.5rem;
} 

p{
    font-family: 'Public Sans', sans-serif;
    font-size: 2rem;
    margin:8% 0% 5% 0%;
}


.titulo3{
        font-family: 'Gloria Hallelujah', cursive;
        text-align:left;
        margin-top: 0;
        margin-bottom: 5%;
}

.titulo4{
    margin-top:-45%;
    margin-bottom:10%;
    font-size: 4rem;
    color:blue;
}


/* ---------------Estructura con GRID---------------------------------- */
    
    .grid{
        display:grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows:0.1fr 0.15fr 1fr 2fr 1fr 0.1fr;
        max-width: 160rem;
        margin: 0 2rem;
        grid-template-areas: 
        "titulo titulo"
        "menu menu"
        "Texto1 Imagen1"
        "Texto2 Texto2"
        "Grafico Explicacion"
        "footer footer";
    }
    
    
    .TituloPrincipal {
        grid-area: titulo;   
    }
    
    .header {
        grid-area: menu;
        height: 100%;
        width: 100%;
        list-style-type: none;
        align-items: center;
        font-size: 2rem;  
        justify-content: space-between;
        
    }
    
    .TEA {
        grid-area:Texto1;
        font-size: 2.5rem;
        text-align:justify;
        margin:2rem 1rem 5rem 1rem;
    }
    
    .imagenTexto {
        grid-area:Imagen1;
     
    }

    .Caracteristicas {
        grid-area:Texto2;     
    }
    
    
    .DatosInteres {
        grid-area: Grafico;
        margin-top: 0;
    }
    
    .DatosEstadisticos {
        grid-area:Explicacion;
    }
    
    .footer {
        grid-area: footer;
        text-align: center;
    }
    
.gridCaract{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 600px;
    font-size: 2.5rem;
    text-align:start;
}



